<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>All Jokes</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='AllPage.css') }}">
</head>
<body>
<h1>All Jokes (Top Votes First)</h1>
<table>
<tr>
    <th>ID</th>
    <th>Joke</th>
    <th>Votes</th>
</tr>
{% for msg in messages %}
<tr>
    <td>{{ msg[0] }}</td>
    <td>{{ msg[1] }}</td>
    <td class="vote-count">{{ msg[2] }}</td>
</tr>
{% endfor %}
</table>

<a class="back" href="{{ url_for('smile') }}">Back to Smiley</a>
</body>
</html>
