<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Smiley Surprise</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='SmilePage.css') }}">
</head>
<body>

<header>
    <h1>Smiley Surprise</h1>
    <nav>
        <a href="{{ url_for('smile') }}">Home</a>
        <a href="{{ url_for('all_messages') }}">All</a>
        <a href="{{ url_for('about") }}">About</a>
    </nav>
</header>

<div class="joke-box">
    <div class="png">
        <img id="frog" src="{{ url_for('static', filename='pepe.png') }}" alt="png">
    </div>

    <form method="post">
        <button type="submit">Click ME!!!!</button>
    </form>

    {% if joke %}
    <p>{{ joke }}</p>
    <div class="vote-container">
        <form method="POST" action="{{ url_for('vote', message_id=latest_id) }}">
            <button type="submit" class="vote-button">👍</button>
        </form>
        <span class="vote-count">{{ latest_votes }}</span>
    </div>
    {% endif %}
</div>

<script>
const frog = document.getElementById('frog');

frog.addEventListener('click', (e) => {
    e.preventDefault();

    frog.style.animation = 'spin 0.5s linear infinite';

    setTimeout(() => {
        frog.style.animation = 'spin 2s ease-out 1';
    }, 1200);
});
</script>



</body>
</html>
